section {
    &.error-404 {
        display: flex;
        justify-content: center;
        align-items: center; 

        .container {
            text-align: center;
            max-width: 600px; 
            .content {

                div {
                    margin-bottom: 20px;
                }

                img {
                    max-width: 100%;
                }

                .nav-wrapper {
                    display: inline-block; 
                }
            }
        }
    }
}
