@{
    ViewData["Title"] = "Ooops! Page was not found";
}

<section class="error-404">
    <div class="container">
        <div class="content">
            <div>
                <img src="~/Images/404.svg" />
            </div>
            <div>
                <h1>Ooops!</h1>
                <p>The page you are looking for is not available.</p>
            </div>
            <div class="nav-wrapper">
                <nav>
                    <a class="btn-theme-s" asp-controller="Home" asp-action="Index">Go to homepage</a>
                </nav>
            </div>
        </div>
    </div>
</section>