@using AspnetCore_MVC.Models.Views
@model HomeIndexViewModel

@{
    <div id="showcase">
        @await Html.PartialAsync("~/Views/Shared/Sections/_ShowcasePartial.cshtml", Model.Showcase)

    </div>

    <div id="features">
        @await Html.PartialAsync("~/Views/Shared/Sections/_FeaturesPartial.cshtml")
    </div>
}





