@using AspnetCore_MVC.Models.Views
@model HomeIndexViewModel

@{
    <div id="showcase">
        @await Html.PartialAsync("~/Views/Shared/Sections/_ShowcasePartial.cshtml", Model.Showcase)

    </div>

    <div id="features">
        @await Html.PartialAsync("~/Views/Shared/Sections/_FeaturesPartial.cshtml", Model.Features )
    </div>

    <div id="mockup">
        @await Html.PartialAsync("~/Views/Shared/Sections/_MockupPartial.cshtml", Model.Mockup)
    </div>

    <div id="managework">
        @await Html.PartialAsync("~/Views/Shared/Sections/_ManageWorkPartial.cshtml", Model.ManageWork)
    </div>

    <div id="app">
        @await Html.PartialAsync("~/Views/Shared/Sections/_AppPartial.cshtml", Model.App)
    </div>
}





