@model AspnetCore_MVC.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Subscribe";
}

@if (Model.Subsribed.IsSubbed)
{
    <div>
        Subscribed!
    </div>
}

@Html.ValidationSummary()

<section class="subscribe">
    <div class="container">
        <div class="content">
            <div class="title">
                <h1>Don't Want to Miss Anything?<img src="/Images/arrows.svg" /></h1>
            </div>
            <div class="subsribe-text">
                <h5>Sign up for Newsletters</h5>
            </div>
        </div>

        <div class="subscribe-form">
            <form asp-action="Index" asp-controller="Subscribers" method="post">
                <input asp-for="@Model.Subsribed.Email" />
                <button class="btn-theme" type="submit">Subscribe *</button>
            </form>
        </div>
    </div>

</section>


